

.hint-icon {
  font-size: 0.85em;
  margin-left: 1px;
  cursor: pointer;
  top: -20px;
  left: -10px;
  position: relative;
}

.hint-icon::after {
  content: attr(data-hint);
  position: absolute;
  top: -30px;
  left: -100%;
  transform: translateX(10px);
  background-color: #333;
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  font-family: "Segoe UI", "Helvetica Neue", "Arial", "sans-serif";
  transition: opacity 0.3s ease;
  unicode-bidi: isolate;
  z-index: 9999;
}

.hint-icon:hover::after {
  opacity: 1;
}

.cloze,
.dropdown,
.hint-wrapper,
.hint-icon {
  display: inline !important;
  margin-right: 1px !important;
  white-space: nowrap;
  margin-left: 1px;
 
}


